body{
    min-height:100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(210,210,210);
    font-family: Optima, sans-serif;
    color: whitesmoke;
    background-color: #1F2937;
}


.header{
    display: flex;
    justify-content: center;
    gap:20px;
    background-color: gray;
    color: whitesmoke;
    padding:20px;
    font-size: 34px;
    font-weight: 700;
}

a{
    text-decoration: none;
    color: inherit;
}

.container{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    padding: 20px;
}

.school{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    padding: 20px;
}
.welcome{
    margin: 20px;
}

.LinkedIn{
    padding:30px;
    background-color:rgb(249, 149, 55);
    border-radius: 15px;
    border:none;
    color: #F9FAF8;
    font-size: 20px;
}

.sentences{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:20px;
}

.img{
    margin:20px
}


*{
    margin:0;
    /* outline:2px solid red; */
}
